{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@nestjs/(.*)$",  
    "^[./]",       
    "^@Infrastructure/(.*)$",
    "^@Domain/(.*)$",
    "^@Application/(.*)$",
    "^@Presentation/(.*)$",
    "^@Shared/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
